/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	#toggle {
		display: block;
	}

	.top-bar__menu {
		display: none;
	}

	.top-bar__tel {
		float: none;
		text-align: center;
		padding-top: 17px;
	}

	#header__slide img {
		width: 433px;
		height: auto;
	}

	#header__slide {
		width: 470px;
	}

	.header__form {
		width: 972px;
		margin: 48px auto 0;
	}

	.header__form-p {
		margin-top: 10px;
	}

	.wesimple {
		left: -58px;
	}

	.wesimple:before {
		top: calc(50% + 25px);
	}

	.otziv-main {
		padding-left: 70px;
	}

	.otziv-author {
		float: none;
	}

	.otziv-hr {
		float: none;
		width: 100%;
	}

	.footer__form {
		width: 972px;		
		margin: 117px auto 87px;
	}

	.calc-service.right {
		margin-left: 125px;
	}

	.calc-service.right2 {
		margin-left: 4px;
	}

	.calc-hr {
		width: 530px;
	}

	


}

#mainm input {
    width: 100%!important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	h1 {
		text-align: center;
		max-width: 100%;
	}

	.header__span {
		margin-left: auto;
		margin-right: auto;
		max-width: 304px;
		width: 100%;
	}
    .feature {
        zoom:75%;
    }
    .otziv-text p {
        font-size: 13px;
        line-height: 16px;
    }
    .summa {
        margin-top: 15px;
        font-size: 22px;
    }
    .ostavzavku {
        font-size: 30px;
    }
    .modalf button, .qu button {
        font-size: 13px;
    }
    .subostavzavku {
        font-size: 17px;
        line-height: 20px;
    }
    .close {
        top: 30px;
    }
    .formawrap {
        padding-left: 15px;
        padding-right: 15px;
    }
    .four .h2-desc {
        font-size: 15px
    }
    .feature {
        margin-top: 30px;
    }
    .feature p {
        font-size: 14px;
        line-height: 19px;
    }
    .one {
        padding-top: 0 !important;
    }
    header {
        padding-bottom: 40px !important;
        background-position: initial
    }
    .header__form, .footer__form {
        height: auto!important;
        padding-bottom: 20px !important;
    }
    .calc-hr {
        width: 100%;
    }
    .modalf input, .qu input {
        width: 100%;
    }
    h1 {
        font-size: 39px!important
    }
    .calc-service {
        float: none;
        margin: 0;
        margin-left: 0 !important;
    }
    .calc-next-step1, .calc-next-step2, .calc-next-step3 {
        margin-bottom: 20px;
        margin-top: 30px;
    }

	#header__slide {
		margin: 20px auto 0;
	}

	.header__p {
		text-align: center;
		max-width: 100%;
	}

	.header__form {
		background-image: none;
		border: 12px solid white;
		width: 720px;
		margin: 87px auto 0;
		padding-top: 10px;
	}

	.footer__form {
		background-image: none;
		border: 12px solid #140F0A;
		width: 720px;
		margin: 87px auto 95px;
		padding-top: 10px;
		height: 501px;
	}

	.header__form-title {
		font-size: 40px;
	}

	.header__form-p {
		font-size: 22px;
		line-height: 25px;
	}

	.header__form-p i {
		font-size: 18px;
	}

	.header__form input, .footer__form input {
		margin-right: 0;
		margin-bottom: 18px;
	}

	.header__form button, .footer__form button {
		width: 360px;
	}

	header {
		min-height: 1650px;
	}

	.wesimple:before {
		content: none;
	}

	.wesimple {
		left: 0;
	}

	.wesimple2 p, .wesimple4 p {
		width: 222px;
	}

	.wesimple6 p {
		width: 247px;
	}

	.twentytwenty-wrapper:after {
		right: 0;
	}

	.twentytwenty-wrapper:before {
		left: 0;
	}

	.otziv-img {
		margin-left: auto;
		margin-right: auto;
	}

	.otziv-main {
		padding-top: 30px;
		padding-left: 0;
	}

	.tabs ul {
		text-align: center;
	}

	.tabs ul li {
		margin-bottom: 8px;
		margin-right: 0;
		float: none;
		display: inline-block;
	}

	.tabs > div {
		margin-top: 60px;
	}

	.col-md-3:nth-child(2) .footer__ul {
		height: 128px;
	}

	.footer__ul {
		text-align: center;
		margin-bottom: 30px;
	}

	.col-md-3:nth-child(3) .footer__ul li {
		display: inline-block;
	}

	.footel__tel {
		text-align: center;
	}

	footer p  {
		text-align: center;
	}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	#menu ul li {
		display: block;
		float: none;
		color: #fff;
		padding: 6px 0;
	}

	.top-bar__logo {
		margin: 0 auto;
	}

	#toggle {
		float: none;
		margin: 21px auto 0;
	}

	.top-bar__tel {
		padding-top: 0;
	}

	#menu {
		padding: 29px;
	}

	h1 {
		font-size: 60px;
	}

	#header__slide {
		width: 240px;
	}

	#header__slide img {
		width: 257px;
		height: auto;
	}

	.header__form, .footer__form {
		width: 100%;
		height: 459px;
		margin: 60px auto 0;
	}

	.footer__form {
		margin: 60px auto 120px;
		height: auto;
        padding-bottom: 20px;
	}

	.header__form-title {
		font-size: 34px;
	}

	.header__form-p {
		font-size: 18px;
		line-height: 23px;
	}

	.header__form-p i {
		font-size: 15px;
	}

	.header__form input, .footer__form input {
    width: 241px;
    height: 60px;
    background-position: 195px 14px;
	}

	.header__form input:nth-child(2), .footer__form input:nth-child(2) {
		background-position: -225px 20px;
	}
    .calc-next-step1, .calc-next-step2, .calc-next-step3 {
        padding-top: 11px !important;
        padding-bottom: 11px !important;
        padding: 0;
        background-image: none;
        /* width: 100%; */
        margin: 0 auto;
        margin-bottom: 20px;
        margin-top: 30px;
        display: inline-block;
        float: none;
    }
    .faq-question {
        font-size: 16px;
    }
    .faq-answer {
        font-size: 16px;
    }
	.header__form button, .footer__form button {
		width: 230px;
		height: 65px;
		margin-top: 14px;
	}

	header {
		min-height: 1533px;
	}

	h2 {
		font-size: 42px;
		line-height: 42px;
	}

	.h2-desc, .five .h2-desc {
		font-size: 18px;
		line-height: 18px;
	}

	.gallery__img {
		height: 152px;
	}

	.gallery__img.big {
		height: 304px;
	}

	.one {
		padding-top: 0;
	}

	.feature, .feature p {
		text-align: center;
	}

	.feature__hr {
		margin-left: auto;
		margin-right: auto;
	}

	.whywe p {
		font-size: 15px;
		line-height: 22px;
	}

	.whywe {
		margin-bottom: 0;
	}


	.wesimple p {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: auto;
		left: 0;
		right: 0;
		margin-right: auto;
		margin-left: auto;
		bottom: auto;
		text-align: center;
	}

	.twentytwenty-wrapper {
		max-width: 470px;	
	}

	.twentytwenty-horizontal .twentytwenty-handle:before {
		height: 400px;
		margin-top: 0;
	}

	.twentytwenty-horizontal .twentytwenty-handle:after {
		bottom: -17px;
	}

	.twentytwenty-handle {
		height: 480px;
	}

	.four {
		min-height: 870px;
		padding-bottom: 0;
	}

	.twentytwenty-horizontal .twentytwenty-handle:after {
		width: 63px;
		height: 63px;
		left: -9px;
		bottom: 10px;
	}

	.otziv-img {
		width: 100%;
		max-width: 438px;
	}

	.faq-hr {
		width: 88%;		
	}

	.col-md-3:nth-child(3) .footer__ul li {
		margin-right: 10px;
	}

	.footer__logo {
		margin-right: auto;
		margin-left: auto;
	}

	.business-up {
		margin-left: auto;
		margin-right: auto;
		float: none;
		margin-top: 29px;
	}

	

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.gallery__img {
		height: 134px;
	}

	.gallery__img.big {
		height: 262px;
	}

	.one {
		padding-top: 60px;
	}

	.twentytwenty-wrapper {
		max-width: 280px;	
	}

	.twentytwenty-horizontal .twentytwenty-handle:before {
		height: 250px;
		margin-top: 0;
	}
h2 {
    font-size: 26px;
    line-height: 31px;
}
	.twentytwenty-handle {
		height: 330px;
	}

	.four {
		min-height: 760px;
	}

	.twentytwenty-wrapper:after {
		width: 165px;
		top: -65px;
		height: 24px;
	}

	.twentytwenty-wrapper:before {
		width: 65px;
		top: -65px;
		height: 25px;
	}

	.faq-hr {
		width: 82%;		
	}



}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	.four {
		min-height: 780px;
	}

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .gallery__img {
        background-size: cover!important
    }
    .calc-next1, .calc-next2, .calc-next3, .calc-prev1, .calc-prev2, .calc-prev3, .buttonpack p {
        background-image: none;
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
        text-align: center;
        margin-bottom: 20px!important;
    }
    .upload__ul li {
    padding-left: 28px;
    position: relative;
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 20px;
}
    .upload-img {
        background-position: 189px 5px;
    }
    .dangerit {
        margin-bottom: 20px;
    }
    .upload-wrap textarea {
            max-width: 409px;
        width: 100%;
    }
    .upload-wrap input[type="text"] {
        max-width: 411px;
        height: 40px;
        width: 100%;
    }
    .qu input {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .whywe {
        zoom: 78%
    }

    .calc-girl {
        margin-left: -40px;
        width: 400px;
    }
    .calc-pages .col-md-5.col-sm-12 {
        overflow: hidden;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
@media screen and (max-width:1199px) {
    .seven .container {
        width: 100%;
    }
    .seven .calc-next1 {
            zoom: 87%;
    margin-left: 40px;
    }
}
@media screen and (max-width:991px) {
    .calc-girl div, .calc-girl {
        background-position: top center;
        background-size: 250px;
        margin-left: 0;
        width: 100%;
    height: 376px;
    }
    .potomustosk {
        margin-left: 0 !important;
        display: block;
    }
    .potomustosk p {
        margin-left: 0 !important;
        zoom:100%;
    }
}
